@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 65px;
    margin-bottom: 60px;
}

.rlgl-svg {
    float: left;
    width: 100%;
    background-image: url(../images/rlgl.svg);
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 92%;
}

h1 {
  position: relative;
  bottom: 18px;
  left: 10px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0px black;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 75%;
}

table th {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th, table td {
    padding: .4em;
}

table.fold-table > tbody > tbody > tr.view td,
table.fold-table > tbody > tbody > tr.view th {
    cursor: pointer;
}

table.fold-table > tbody > tbody > tr.view td:first-child,
table.fold-table > tbody > tbody > tr.view th:first-child {
    position: relative;
    padding-left: 20px;
}

table.fold-table > tbody > tbody > tr.view td:first-child:before,
table.fold-table > tbody > tbody > tr.view th:first-child:before {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 9px;
    height: 16px;
    margin-top: -8px;
    font: 16px fontawesome;
    color: #999;
    content: "\f0d7";
    transition: all .3s ease;
}

table.fold-table > tbody > tbody > tr.view:nth-child(4n-1) {
    background: #eee;
}

table.fold-table > tbody > tbody > tr.view:hover {
    background: #aaa;
}

table.fold-table > tbody > tbody > tr.fail {
    background: #ffb3b3
}

table.fold-table > tbody > tbody > tr.xfail {
    background: #e6f6e6
}

table.fold-table > tbody > tbody> tr.pass {
    background: #80ff80
}

/*
table.fold-table > tbody > tr.view.open {
    background: tomato;
    color: white;
}
*/

table.fold-table > tbody > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
    transform: rotate(-180deg);
    color: #333;
}

table.fold-table > tbody > tbody > tr.fold {
    display: none;
}

table.fold-table > tbody > tbody > tr.fold.open {
    display: table-row;
}

.fold-content {
    padding: .5em;
}

.fold-content h3 {
    margin-top: 0;
}

.fold-content > table {
    border: 12px solid #ccc;
}

tr:nth-child(4n-2) {
    background: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
  font-size: 80%;
}
